<h2>Finanças e Contabilidade</h2>

<div>
  <h3>Balanço Patrimonial</h3>
  <table>
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Passivo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>R$ ATIVO</td>
        <td>R$ PASSIVO</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <h3>Receitas e Despesas</h3>
  <table>
    <thead>
      <tr>
        <th>Receitas</th>
        <th>Despesas</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>R$ RECEITAS</td>
        <td>R$ DESPESAS</td>
      </tr>
    </tbody>
  </table>
</div>
