<div class="container-fluid">
  <div class="row mt-lg-5">
    <div class="main-content text-center mt-lg-5">
      <h2 class="text-xxl-center">DASHBOARD</h2>
    </div>
    <div class="container text-center mt-lg-5">
      <ul role="menubar mt-2 mb-2">

        <li role="menuitem"><a href="/users/change-password">Alterar Senha</a></li>

        <li role="menuitem"><a href="/employees/list">Listar Funcionários</a></li>
        <li role="menuitem"><a href="/employees/form">Cadastrar Funcionário</a></li>

        <li role="menuitem"><a href="/suppliers/list">Listar Fornecedores</a></li>
        <li role="menuitem"><a href="/suppliers/form">Cadastrar Fornecedor</a></li>

        <li role="menuitem"><a href="/finances/accounting">Finanças</a></li>

        <li role="menuitem"><a href="/inventories/products/list">Listar Produtos em Estoque</a></li>
        <li role="menuitem"><a href="/inventories/products/form">Cadastrar Produto</a></li>

      </ul>
    </div>
  </div>
</div>
