<h2>Dashboard</h2>

<ul role="menubar">

  <li role="menuitem"><a href="/users/change-password">Alterar Senha</a></li>

  <li role="menuitem"><a href="/employees/list">Listar Funcionários</a></li>
  <li role="menuitem"><a href="/employees/form">Cadastrar Funcionário</a></li>

  <li role="menuitem"><a href="/suppliers/list">Listar Fornecedores</a></li>
  <li role="menuitem"><a href="/suppliers/form">Cadastrar Fornecedor</a></li>

  <li role="menuitem"><a href="/finances/accounting">Finanças</a></li>

  <li role="menuitem"><a href="/inventories/products/list">Listar Produtos em Estoque</a></li>
  <li role="menuitem"><a href="/inventories/products/form">Cadastrar Produto</a></li>

</ul>
