<table aria-label="product-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Estoque</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Nome do produto</td>
      <td>Descrição do produto</td>
      <td>R$ 19.99</td>
      <td>localização do produto no estoque</td>
      <td>
        <button class="btn-editar" onclick="editarFuncionario(1)">Editar</button>
        <button class="btn-excluir" onclick="excluirFuncionario(1)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
