<table aria-label="supplier-list">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Endreço</th>
      <th>Telefone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Nome do fornecedor</td>
      <td>localização da empresa</td>
      <td>11 9 9876-5432</td>
      <td>fornecedor@email.com</td>
      <td>
        <button class="btn-editar" onclick="editarFuncionario(1)">Editar</button>
        <button class="btn-excluir" onclick="excluirFuncionario(1)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
