* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Tema Light */
body.theme-light,
body.theme-light * {
  background-color: #f8f9fa !important;
  color: #000000 !important;
}

body.theme-light a {
  text-decoration: none !important;
}

body.theme-light input::placeholder {
  color: #000000 !important;
}

/* Tema Dark */
body.theme-dark,
body.theme-dark * {
  background-color: #343a40 !important;
  color: #ffffff !important;
}

body.theme-dark a {
  text-decoration: none !important;
}

body.theme-dark input::placeholder {
  color: #ffffff !important;
}

.theme-dark .navbar-toggler {
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-img {
  height: 40px;
}
